################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/OutfledOverlay/x64/Release
/OutfledOverlay/Release
